<!DOCTYPE html>
<html lang="en">
<head>
    <title>File to zip conersion</title>
    <style>
        .center {
  
          margin: auto;
          margin-top: 30vh;
          width: 60%;
          border: 3px solid #6472de;
          padding: 10px;
          text-align: center;
          
        }
        </style>
</head> 
<body>
    <!-- <form method="POST" action="/" enctype="multipart/form-data">
        <input type="file" name="file" multiple/>
        <input type="submit" value="upload"/>
    </form> -->
    
    <div class="center">
            <div style="margin: 20px; font-size: large;">Files to zip converter</div>
            <div>
                <input id="input" type="file" name="file" multiple/>
                <button onclick="myFunc()">Create zip</button>
            </div>
        
    </div>
</body>
//- <script>
//-     function myFunc(){
//-     var x=document.getElementById("input");
//-     // console.log(x.files);
//-     uploadFile(x.files)
//-     }
//-     const uploadFile = (files) => {
//-         const fd = new FormData();
//-         for(let i=0;i<files.length;i++){
//-             fd.append("files",files[i]);
//-         }
    

//-     // send `POST` request
//-         fetch('/', {
//-             method: 'POST',
//-             body: fd
//-         })
//-         .then(res => res.blob())
//-         .then(response =>{
//-             console.log(response);
//-             var blob = new Blob([response], {type: "application/zip"});
//-             var zipname=Date.now();
//-             const downloadLink = document.createElement('a');
//-             downloadLink.href = window.URL.createObjectURL(blob);
//-             downloadLink.setAttribute('download', `${zipname}`+".zip");
//-             document.body.appendChild(downloadLink);
//-             downloadLink.click();
//-             downloadLink.remove();
//-     })
//-     .catch(err => console.error(err));
//-     }

//- </script>
</html>